.product-container {
    position: relative;
    background-color: rgb(187, 241, 243); /* Arka plan rengini buradan ayarlayabilirsiniz */
    padding: 20px 40px;
    height: 440px;
}
.product-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px; /* Kartlar arasındaki boşluğu artırır */
    height: 420px;
}
.product-list::-webkit-scrollbar {
    display: none; /* İsteğe bağlı: kaydırma çubuğunu gizlemek için */
}
.card {
    border-radius: 15px; /* Kenar yumuşatması */
}
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* Buton arka plan rengi */
    color: white;
}
.scroll-button-left {
    border-radius: 12px 0 0 12px;
    left: -20px; /* Butonun konumunu ayarlayın */
}
.scroll-button-right {
    right: -20px; /* Butonun konumunu ayarlayın */
    border-radius: 0 12px 12px 0;
}
body{
    max-width: 1920px;
    background-color: rgb(187, 241, 243);
}
#sayfa{
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent;
    text-align: center;
}
a{
    text-align: center;
}
.kayan{
    max-width: 1200px;
    height: 320px;
}
.kutu{
    text-align: center;
}

#nav{
    padding-left: 100px;
    padding-right: 100px;
}
h2{
    text-align: center;
}
.dropdown {
    display: inline-block; /* Satır içinde kalması için */
    text-align: center; /* İçeriği hizalar */
}

.btn {
    margin: 0 auto; /* Ortalamayı sağlar */
    display: inline-block; /* Satır içi hizalamasını korur */
    vertical-align: middle; /* Dikey hizalamayı düzeltir */
}

.dropdown-menu {
    text-align: left; /* Menü içeriğinin daha düzgün gözükmesi için */
    margin: 0 -47%; /* Menü pozisyonlamasını sıfırlar */
}
.p{
    text-align: center;
}
.tur{
    background-color: transparent;
    text-align: center;
    color: #2987ed;
    display: block;
    border-bottom: 2px dashed #2987ed;
    padding-bottom: 15px;
    max-width: 450px;
    margin: 0 auto;
}




@media screen and (min-width:769px) {
    .resim{
        height: 300px;
    }
    .kitapkutusu{
        margin-top: 10px;
        width: 23.4%;
        max-height: 300px;
    }
}
@media screen and (max-width:768px) {
    .resim{
        height: 200px;
    }
    .kitapkutusu{
        margin-top: 10px;
        min-width: 48.4%;
        max-height: 300px;
    }
    .scroll-button{
        display: none;
    }
}

@media screen and (max-width:488px) {
    .resim{
        height: 200px;
    }
    .kitapkutusu{
        margin-top: 10px;
        min-width: 97.4%;
        max-height: 300px;
    }
    .scroll-button{
        display: none;
    }
}



